<h3>Hoteles </h3>
<div class="row row-cols-1 row-cols-md-3">
    <% @hoteles_encontrados.each do |he| %>
        <%= link_to info_hotel_path(he), class: "col text-decoration-none p-3" do %>
            <%= render "tarjeta", p_titulo: he.nombre, p_subtitulo: he.ciudad.nombre %>
        <% end %>
    <% end %>
</div>

<h3>Ciudades</h3>
<div class="row">
    <% @ciudades_encontradas.each do |ce| %>
        <%= link_to "#", class: "w-25 m-3 text-decoration-none" do %>
            <%= render "tarjeta", p_titulo: ce.nombre, p_subtitulo: "" %>
        <% end %>
    <% end %>
</div>