<div class="row mt-5">
    
    <div class="col-lg-2">
        <h3>HCampestre 🌴</h3>
    </div>

    <%= form_with(url: "/", method: "get") do |formulario| %>

        <div class="col-lg-6 mb-3">
            <%= formulario.text_field :busqueda, class: 'form-control' %>
        </div>
        <div class="col-2"> 
            <%= formulario.submit "Buscar", class: 'btn btn-primary' %>
        </div>
    
    <% end %>
</div>
