<h1>Lista de ciudades registradas</h1>

<%= link_to "Crear nueva ciudad", nueva_ciudad_path %>

<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    <% @lista_ciudades.each do |c| %>
        <tr>
            <td>
                <%= c.id %>
            </td>            
            <td>
                <%= c.nombre %>
            </td>
            <td>
                <%= link_to "Editar", editar_ciudad_path(c) %> <!-- /ciudades/4/editar -->
                <span>Eliminar</span>
            </td>
        </tr>
    <% end %>


</table>