<h1>Lista de ciudades registradas</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Acciones</th>
    </tr>
    <% @lista_ciudades.each do |c| %>
        <tr>
            <td>
                <%= c.id %>
            </td>            
            <td>
                <%= c.nombre %>
            </td>
            <td>
                <span>Editar</span>
                <span>Eliminar</span>
            </td>
        </tr>
    <% end %>


</table>