<h2>Registro de una ciudad</h2>

<%= form_with(model: @ciudad) do |formulario| %>
    
    <!-- <label id="nombre" >Nombre</label> -->
    <%= formulario.label :nombre %>
    <!-- <input type="text" id="nombre" name="nombre"> -->
    <%= formulario.text_field :nombre %>

    <button>Cancelar</button> <!-- link_to -->

    <!-- <input type="submit" value="Registrar"> -->
    <%= formulario.submit 'Registrar' %>

<% end %>