@import 'ciudades';

// TODAS las variables SCSS van antes del @import
$primary: #2F86A6;
$secondary: #34BE82;
$warning: #F2F013;
$danger: #FF9292;

@import '~bootstrap/scss/bootstrap';

// TODOS los cambios CSS van después del @import
.btn{
    border-radius: 2rem;
}

$fondo-gris: #f4f7fa;
$fondo-menu: #3d4c67;

body {
    background-color: $fondo-gris;
}

.menu-vertical{
    position: fixed;
    height: 100%;
    background-color: $fondo-menu;
    color: white;
    padding-left: 2rem;  

    .titulo{
        margin: 2rem 0;
    }

    ul{
        list-style: none;
        padding: 0;
    }

    li .opcion{
        padding: 0.5rem 0 0.5rem 0.5rem;
        text-decoration: none;
        display: block;
        color: white;
        cursor: pointer;
        
        &:hover{
            background-color: white;
            color: $fondo-menu;
        }
    }
}

a {
    .card {
        text-decoration: none;
    }
}

.card{
    border: none;
    -webkit-box-shadow: 0px 5px 10px 8px rgba(0,0,0,0.11); 
    box-shadow: 0px 5px 10px 8px rgba(0,0,0,0.11);
    .card-body{
        padding: 0;
    }
}