<div class="card">
    <div class="card-body">    
        <div class="row">
            <div class="col-4 bg-secondary">
                <!-- Cargar la foto de la habitaci칩n -->
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-7">
                        <h2><b>Hotel Dann</b></h2>
                        <span class="text-muted">Bogot치</span>
                    </div>
                    <div class="col-5">
                        <p>C칩digo <b>CFD980</b></p>
                        <p class="fs-3">CLP 50.000</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <h3><b>Habitaci칩n</b></h3>
                        <span>Dog</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p><b>Fecha Ingreso</b></p>
                        <span>20/11/2021</span>
                    </div>
                    <div class="col-3">
                        <p><b>Fecha Salida</b></p>
                        <span>29/11/2021</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>